<div class="bg-light text-gray p-3 mt-3" th:fragment="cart_partial" th:if="${noCartView == null}">
  <div class="cart cartActive" th:if="${cartActive}">
    <p>장바구니에 <span th:text="${csize}"></span> 개 상품이 있습니다.</p>
    <p>총 가격은 <span th:text="${ctotal}"></span> 원 입니다.</p>
    <p>
      <a th:href="@{/cart/view}" class="btn btn-success"
        ><i class="bi bi-cart-fill"></i> 카트 보기</a
      >
      <a th:href="@{/cart/clear}" class="btn btn-danger float-right"
        ><i class="bi bi-cart-x"></i> 비우기</a
      >
    </p>
  </div>
  <div class="cart cartInactive" th:unless="${cartActive}">
    <p>장바구니가 없습니다.</p>
  </div>
</div>
